################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.sqlite
/.vs/AzureOnTheCheap/config/applicationhost.config
/.vs/AzureOnTheCheap/v16/.suo
